<script language="javascript" type="text/javascript"> 
$().ready(function(){ 
	$('#type').change(function(){ 
		var type = $(this).children('option:selected').val();
		$.get("index.php?_c=push&_a=ajaxGetExtra", {type:type}, function (data){
			$("#extraParam").html('');
			for( var i in data) {
				$("#extraParam").append('<div class="control-group"><label class="control-label">' + data[i].label + '</label><div class="controls">' + data[i].form + '</div></div>');
			}
		});
	});
	
	$('.sf').click(function(){
		$('#message').val($('#message').val()+"\\"+$(this).attr('id'));
	});
	
	
});
</script><style type="text/css">
<!--
body,td,th {
	font-size: 12px;
}
-->
</style> 
<form id="sForm" name="sForm" action="index.php?_c=push&_a=push" method="post" class="form-horizontal">
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td style="padding-left:200px; padding-top:20px;">
	<div class="control-group">
		<label for="inputEmail" class="control-label">push类型</label>
		<div class="controls">
			<select name="type" id="type">
				{{html_options options=$options}}
			</select>
		</div>
	</div>
	<div id="extraParam">
		{{foreach from=$extra_list item=item}}
		<div class="control-group">
			{{$item}}
		</div>
		{{/foreach}}
	</div>
	<div class="control-group">
		<label for="inputEmail" class="control-label">push内容</label>
		<div class="controls">
			<textarea placeholder="建议不超过35个字" rows="5" name="message" id="message"></textarea>
		</div>
	</div>
    <div class='control-group'>
    	<div class='controls'>
		     {{foreach from = $sf item = item}}
			 	<sf><a href="#" id="{{$item}}" class="sf"><img  src="/img/facecode/{{$item}}.png" alt="smile"></a></sf>
			 {{/foreach}}
    		</div>
    </div>
    <div class='control-group'>
    	<label class='control-label' for='inputEmail'>PUSH时间：</label>
        <div class='controls'>
            <input type="text" id="push_time" name="push_time" value="{{$current_time}}" />
        </div>
    </div>
	
	<div class='control-group'>
    	<label class='control-label' for='inputEmail'>PUSH 指向类型：</label>
        <div class='controls'>
            <select name="show_type" id="show_type">
				{{html_options options=$show_options}}
			</select>
        </div>
    </div>
	
	<div class='control-group'>
    	<label class='control-label' for='inputEmail'>PUSH 指向：</label>
        <div class='controls'>
            <input type="text" id="show_property" name="show_property" value="" />
        </div>
    </div>
	
    <div class='control-group'>
        <div class='controls'>
            <input type="hidden" id="ptype" name="ptype" value="savePush" />
            <input type="submit" value="发&nbsp;送" class="btn" onclick="if(!confirm('确认发送？')){return false;}" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" onclick="window.location.href='index.php?_c=push&_a=index'" value="返回" class="btn" />
        </div>
    </div>
    </td>
  </tr>
</table>
</form>