{{include file="../header.html"}}

	<form class="form-horizontal" method="post" action="?_c=login">
	<div class="control-group">
		<label class="control-label" for="inputUsername">登录名</label>
		<div class="controls">
			<input type="text" id="inputUsername" name="user_name" placeholder="手机号码">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputPassword">Password</label>
		<div class="controls">
			<input type="password" id="inputPassword" name="pwd" placeholder="Password">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
		<button type="submit" class="btn">登录</button>
		</div>
	</div>
	</form>


{{include file="../footer.html"}}