<!--全局弹窗-->
<!--<section class="alertMsg hide" id="alertMsg"></section>-->
<!--<section class="down"><a href="http://t.ymall.com/s/czhxip"></a></section> -->
<!-- footer -->
<footer>
	<script type="text/javascript" src="http://tajs.qq.com/gdt.php?sId=38313199" charset="UTF-8"></script>
	<div><a href="index.php">进入首页</a><ins class="cGray">|</ins><a href="index.php?_c=index&_a=about">联系我们</a><ins class="cGray">|</ins><a href="index.php?_c=feedback">意见反馈</a></div>
	<p>Copyright 2013 版权所有 OAKKNIGHT.com <img src="{{$_hmtPixel}}" width="0" height="0" /></p>
</footer>
</body>
</html>