<div name="maindiv" class="span9">
<div class="span9 text-center text-info"><h3>{{$status}}列表</h3></div>
<div name="searchTab">
	<form action="index.php?_c=orders&_a=saledown" method="post">
	<p>
	下单时间:<input type="text" name="start_time" id="start_time" style="width:28%;" class="Wdate"  
		onClick="WdatePicker({skin:'whyGreen',maxDate:'#F{$dp.$D(\'end_time\')||\'%y-%M-%d\'}'})">&nbsp;-&nbsp;<input type="text" name="end_time" id="end_time" style="width:28%;" class="Wdate"  
		onClick="WdatePicker({skin:'whyGreen',maxDate:'%y-%M-%d',minDate:'#F{$dp.$D(\'start_time\')}'})">
	<span  class="input-append">
	<input class="btn" type="submit" value="导出报表"></span>
	</p>
	</form>
</div>
</div>
<script type="text/javascript" src="/js/My97DatePicker/WdatePicker.js"></script>