* {
	margin:0;
	padding:0;
}
.clear{
	clear:both;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
}
ul,ol,li {
	list-style:none;
}
em,i {
	font-style:normal;
}
img {
	border:none;
}
input,img {
	vertical-align:middle;
}
body {
	color:#333;
	font:24px arial;
	min-width:640px;
}
a {
	text-decoration:none;
}
.content {
	width:640px;
	overflow:hidden;
	margin:0 auto;
	background:#FFF;
	padding-bottom:30px;
}
.topic_list {
	width:600px;
	margin:20px auto 0;
}
.topic_list li {
	margin:0 auto;
	margin-bottom:30px;
	width:600px;
	background:#fff;
	border:1px solid #C9C9C9;
	-webkit-border-radius:3px;
}
.topic_list li img{
	display:block;
	margin:10px auto 0;
	width:580px;
	height:280px;
	background:url(../img/default_List.png) 0 center;
}
.topic_list li p{
	margin:0 auto 2px;
	width:570px;
	padding-left:30px;
	height:90px;
	line-height:90px;
	font-size:28px;
	border-bottom:1px solid #C9C9C9;
}