<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
      <td colspan="9">
          <form id="tForm" action="index.php?_c=people&_a=active" method="post" class="form-search">
              <table width="100%" border="0" cellspacing="0" cellpadding="5">
                  <td align="right">统计时间：</td>
                  <td colspan="2"><input type="text" name="start_time" id="start_time" style="width:28%;" class="Wdate"  
    onClick="WdatePicker({skin:'whyGreen',maxDate:'#F{$dp.$D(\'end_time\')||\'%y-%M-%d\'}'})">&nbsp;-&nbsp;<input type="text" name="end_time" id="end_time" style="width:28%;" class="Wdate"  
    onClick="WdatePicker({skin:'whyGreen',maxDate:'%y-%M-%d',minDate:'#F{$dp.$D(\'start_time\')}'})">
                  </td>
				  <td align="right"><input type="submit" value="下载"></td>
                </tr>
              </table>  
          </form>
      </td>
  </tr>
</table>
</div>