<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{$info.title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
	<p>我是动态 iframe 页</p>
	<p>id:{{$info.bar_id}}, title:{{$info.title}} <a href="{{$url}}">点我返回app 列表</a> <br />{{$url}}</p>	
	<p>id:{{$info.bar_id}}, title:{{$info.title}} <a href="http://m.ymall.com/api/goods/detail?goodsid=103782">点我返回app 商品单页</a> <br />http://m.ymall.com/api/goods/detail?goodsid=103782</p>

	</body>
</html>

