<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>欧欧菁品</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link type="text/css" href="css/group.css" rel="stylesheet">
 <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
</head>

	<div class="group_main" id="group_main">
		<div class="group_head">
			<h1>{{$title}}</h1>
			
			<!--搜索栏-->
            <!--
            <span class="menu"></span> 
            <div class="menu_div">
				<div class="arrow-outer"><div class="arrow-shadow"></div></div>  
				<ul>   
					<li><a href="javascript:void(0)">食品</a></li> 
					<li><a href="javascript:void(0)">衣服</a></li> 
					<li><a href="javascript:void(0)">家居</a></li> 
					<li><a href="javascript:void(0)">玩具</a></li> 
				</ul> 
			</div>
            -->
			<a href="index.php?_c=order&_a=index" class="search"></a>
		</div>
		<div class="group_title"><a href="javascript:void(0)" class="group_titlea">最高品质的关爱</a></div>
		<div class="group_content">
			<div class="group_div" style="display:block">
            {{foreach from = $live_deals item = item}}
				<div class="group_item">
					<div class="group_itemimg"><a href="index.php?_c=goods&_a=detail&id={{$item.goods_id}}"><img src="{{$cdn_ymall}}{{$item.default_thumb}}"></a></div>
					<div class="group_iteminfo">
						<a href="index.php?_c=goods&_a=detail&id={{$item.goods_id}}" class="group_itemdiv">
							<h2>{{$item.goods_name}}</h2>
							
							<div class="grouptime" id="timer{{$item.goods_id}}">闪购时效：<em class="day">00</em>天<em class="hour">0</em>小时<em class="minute">00</em>分<em class="second">00</em>秒</div>
							
							<div class="groupprice"><span>￥{{$item.price}}</span></div>
                            <p>拼柜进度：{{$item.sales}} / {{$item.stock}}</p>
                            <p>当地零售价：{{$item.market_price}} 欧<ee>起运地：{{$item.origin}}</ee></p>
						</a>
					</div>
     
				</div>
                   <script type="text/javascript"> 
                      $(document).ready(function(e){
						
						  
						  countDown("{{$item.sale_time}}","#timer{{$item.goods_id}}",'{{$item.duration}}');
						  
					  });
              		</script>
			{{/foreach}}	
			</div>
			
		</div>
		<div class="group_banner"><img src="images/group2_73.jpg"></div>
    	<!--<a href="javascript:void(0)" class="home"></a>-->
	</div>
    
    
    
    <script type="text/javascript">  
		$(document).ready(function(e) {
			$(".menu_div a").click(function(){
				$(".menu_div a").removeClass("menu_a");
				$(this).addClass("menu_a");	
			});
			/*$(".group_title a").click(function(){
				$(".group_title a").removeClass("group_titlea");
				$(this).addClass("group_titlea");	
				$(".group_div").hide();
				$(".group_div").eq($(this).index()).show();
			});
			*/
			$(".menu").toggle(function(){
				$(".menu_div").show();
			},function(){
				$(".menu_div").hide();	
			});
			
			$(".likestyle a").click(function(){
				$(this).find("img").attr("src","images/03.png");	
			});
		});
	
		function countDown(time,id,days){
			
			var day_elem = $(id).find('.day');
			var hour_elem = $(id).find('.hour');
			var minute_elem = $(id).find('.minute');
			var second_elem = $(id).find('.second');
			var end_time = new Date(parseInt(time)*1000+parseInt(days)*24*3600*1000).getTime(),//月份是实际月份-1
			sys_second = (end_time-new Date().getTime())/1000;
			var timer = setInterval(function(){
				if (sys_second > 1) {
					sys_second -= 1;
					var day = Math.floor((sys_second / 3600) / 24);
					var hour = Math.floor((sys_second / 3600) % 24);
					var minute = Math.floor((sys_second / 60) % 60);
					var second = Math.floor(sys_second % 60);
					day_elem && $(day_elem).text(day);//计算天
					$(hour_elem).text(hour<10?"0"+hour:hour);//计算小时
					$(minute_elem).text(minute<10?"0"+minute:minute);//计算分钟
					$(second_elem).text(second<10?"0"+second:second);//计算秒杀
				} else { 
					clearInterval(timer);
				}
			}, 1000);
		}
    </script>  
<footer>
	
	<div><a href="index.php">进入首页</a><ins class="cGray">|</ins><a href="index.php?_c=index&_a=about">联系我们</a><ins class="cGray">|</ins><a href="index.php?_c=feedback">意见反馈</a></div>
	<p>Copyright 2013 版权所有 OAKKNIGHT.com <img src="{{$_hmtPixel}}" width="0" height="0" /></p>
</footer>
</body>
</html>
