<script type="application/javascript">
window.onload = function(){
	var file = document.querySelector("#file input[type='file']");
	var text = document.querySelector("#file input[type='text']");
	file.addEventListener("change",assign,false);
	function assign(){
		text.value = file.value;
	}
}
</script>
<form id="sForm" name="sForm" enctype="multipart/form-data" action="index.php?_c=user&_a=download" method="post" class="form-search">
<table width="100%" border="1" cellspacing="0" cellpadding="5">
  <tr>
    <td width="30%" align="right">第一步&nbsp;&nbsp;先下载模板并填写：</td>
    <td><input type="button" value="下载模板" onclick="window.location.href='index.php?_c=user&_a=download';" class="btn btn-success"/></td>
  </tr>
  <tr>
    <td align="right">第二步&nbsp;&nbsp;将填写好的模板上传：</td>
    <td><div id="file"><input type="text" value="未选择文件" readonly="readonly" /><input type="button" value="浏览" class="btn" /><input type="file" id="csv" name="csv" /></div></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="hidden" id="type" name="type" value="saveCsv" /><input type="submit" value="提&nbsp;交" class="btn" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" onclick="javascript:history.back();" value="返回" class="btn" /></td>
  </tr>
</table>
</form>